header {
    background-color: rgb(146, 145, 144);
    border-radius: 5px;
    padding-left: 30px;
}

body {
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgb(0, 0, 0);
}

h1 {
    font-size: 40px;
    font-weight: bold;
    color: black;
}

p,
hr {
    color: rgb(146, 145, 144);
    text-align: justify;
}

.perfil {
    float: right;
    margin-left: 20px;
    max-width: 400px;
    max-height: 400px;
    border-radius: 5px;
}

footer {
    background-color: rgb(146, 145, 144);
    border-radius: 15px;
}

.contatoelogos {
    display: flex;
    justify-content: space-between;
}

.texto-principal {
    max-width:fit-content ;
    max-height:fit-content ;
}

.contato {
    margin-left: 30px;
    color: black;
    font-weight: bolder;
}

.logos {
    max-height: 70px;
    max-width: 70px;
    margin-left: 20px;
}

.redes-sociais {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
}